@using Planner.Model 
@inject HttpClient Http
@inject NavigationManager NavigationManager

@page "/DeleteTodo/{Id}"

<MudThemeProvider/>
<MudDialogProvider/>
<MudSnackbarProvider/>

<h3>Удалить задачу</h3>
<div class="delete todo form">
    <div class="todo item">
        <MudItem xs="12" sm="6" md="8">
            <MudTextField @bind-Value="Planner.Title"
                          Label="Заголовок"
                          Disabled="true"
                          Variant="Variant.Outlined"
                          maxlength="30"></MudTextField>
        </MudItem>
    </div>
    <div class="todo item">
        <MudItem xs="12" sm="6" md="8">
            <MudTextField @bind-Value="Planner.Description"
                          Label="Описание"
                          Disabled="true"
                          Variant="Variant.Outlined"
                          maxlength="60"></MudTextField>
        </MudItem>
    </div>
    <div class="todo item">
        <div class="todo date pickers">
            <MatDatePicker @bind-Value="Planner.startTodo"
                           Label="Начальная дата"
                           Disabled="true"
                           TValue="DateTime"
                           FullWidth="false"
                           EnableTime="true"/>
        </div>
        <div class="todo date pickers">
            <MatDatePicker @bind-Value="Planner.dueTodo"
                           Label="Конечная дата"
                           Disabled="true"
                           TValue="DateTime"
                           FullWidth="false"
                           EnableTime="true"/>
        </div>
    </div>
    <div class="todo item">

    </div>
    <div class="delete todo">
        <button type="submit" class="btn btn-danger" style="font-size: 20px;" @onclick="DeleteRecord">Удалить</button>

        <button type="submit" class="btn btn-primary" style="font-size: 20px;" @onclick="Cancel">Назад</button>
    </div>
    </div>

<style>
    .delete.todo.title {
        margin-bottom: 20px;
    }

    .todo.item {
        margin: 15px;
    }

    .todo.date.pickers {
        display: -webkit-inline-box;
        padding-right: 10px;
    }

    .delete.todo {
        margin: 15px;
    }
</style>
    @code {
        [Parameter]
        public string Id { get; set; }


        PlannerModel Planner = new PlannerModel();

        protected override async Task OnInitializedAsync() {
            Planner = await Http.GetFromJsonAsync<PlannerModel>("https://localhost:5001/api/DataPlanners/" + Id);
        }


        protected async Task DeleteRecord() {
            await Http.DeleteAsync("https://localhost:5001/api/DataPlanners/" + Id);
            NavigationManager.NavigateTo("");
        }

        protected void Cancel() {
            NavigationManager.NavigateTo("");
        }




    }
   
