@inject NavigationManager NavigationManager
@page "/"

<div class="planner main page">
    <div class="create task">
        <MatButton Unelevated="true" Icon="favorite" @onclick="CreateTodo">Создать задачу</MatButton>
    </div>
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Заголовок</th>
                <th scope="col">Описание</th>
                <th scope="col">Выполнить до</th>
                <th scope="col"></th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            <!--Here will be foreach-->
            <tr>
                <th scope="row">@(++position)</th>
                <td>F</td>
                <td>S</td>
                <td>T</td>
                <td><MatButton Unelevated="true" Icon="favorite" @onclick="EditTodo">Редактировать</MatButton></td>
                <td><MatButton Unelevated="true" Icon="favorite" @onclick="DeleteTodo" >Удалить</MatButton></td>
            </tr>
        </tbody>
    </table>
</div>
<style>
    .create.task{
        margin-bottom:20px;
    }
</style>

@code{
    private int position = 0;

    private void CreateTodo() {
        NavigationManager.NavigateTo("/CreateTodo");
    }

    private void EditTodo() {
        NavigationManager.NavigateTo("/EditTodo");
    }

    private void DeleteTodo() {
        NavigationManager.NavigateTo("/DeleteTodo");
    }


}
