@inject NavigationManager NavigationManager
<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">Планировщик</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Главная
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="CreateTodo">
                <span class="fa fa-plus" aria-hidden="true"></span> Создать задачу
            </NavLink>
        </li>
        <li class="nav-item px-3"><MatButton Raised="true" Icon="device_hub" @onclick="Gitlab">GitLab</MatButton></li>
        <li class="nav-item px-3"><MatButton Raised="true" Icon="device_hub" @onclick="Github"> GitHub</MatButton></li>
        <li class="nav-item px-3"> <MatButton Raised="true" Icon="favorite" @onclick="Vk">Вконтакте</MatButton></li>
    </ul>
</div>
@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

    private void Gitlab() { NavigationManager.NavigateTo("https://gitlab.com/nevilov/planner"); }
    private void Github() { NavigationManager.NavigateTo("https://github.com/nevilov/planner"); }
    private void Vk() { NavigationManager.NavigateTo("https://vk.com/nevilov"); }


}
